<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--        database configurations -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/local_data_base</property>
<!--        <property name="hibernate.connection.driver_class">com.mysql.dj.jdbc.Driver</property>-->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">*****</property>

<!--hibernate configuration -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format.sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
<!--        XML configuration -->
        <mapping class="com.example.application.entities.HbApp2Student"/>

    </session-factory>
</hibernate-configuration>